<!-- Modal -->
<div class="modal fade" id="keysModal" tabindex="-1" role="dialog" aria-labelledby="keysModalLabel" aria-hidden="true">
	<div class="modal-dialog-centered modal-dialog" role="document" style="margin-left: -20%;">
	  <div class="modal-content" style="width:800px;">

        <div class="modal-header" id="modal-header">
            <!-- close button -->
            <button type="button" class="close display-inline-block" data-dismiss="modal" aria-label="Close" style="transform: scale(2,2);">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>


            <div class="btn-group" style="margin: auto;">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="login-status mx-auto">
                        <div>
                        <img src="{{ url_for('static', filename='images/') }}{{myid.profile_pic}}" alt="profile pic"
                            class="profile_pic">
                        </div>
        
                        <div>
                            <h2 class="p-1">Logged In as {{ myid.username }}</h2>
                            <p class="p-1">using ip port <span class="font-weight-bold">{{myhost}}:{{myport}}</span></p>
                        </div>
                    </div>
                </button>
                <div class="dropdown-menu dropdown_links">
                    {% for id in allids %}
                        <div class="m-1 d-flex p-2" onclick="changeProfile({{id.id}})">
                            <img src="{{ url_for('static', filename='images/') }}{{id.profile_pic}}" 
                            alt="profile image" style="width: 40px; height: 30px; border-radius: 30px;" />
                            <a class="dropdown-item" href="#">{{ id.username }}</a>
                            {% if myid.username == id.username %}
                                <span class="green-dot">
                                    <i class="bi bi-check" 
                                    style="color: honeydew; font-size: 1.5rem;">
                                </i></span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
              </div>

          
		<!-- keys modal 1-->
		<div class="modal-body text-center" id="keys_modal_1">

            <!-- private key -->
            <div class="p-section">
                <div>
                    <span class="p-text">Private Key:</span>
                    <span class="copy">Copy</span>
                </div>
                <div>
                        <p class="p-key">{{ myid.private_key }}</p>
                </div>
            </div>

            <!-- public key -->
            <div class="p-section">
                <div>
                    <span class="p-text">Public Key:</span>
                    <span class="copy">Copy</span>
                </div>
                <div>
                        <p class="p-key">{{ myid.public_key }}</p>
                </div>
            </div>
            <button id="newIdButton" class="btn btn-lg" style="background-color: #dacb58; color:white;">
                Create new identity</button>
		</div>




        <!-- create keys block 2-->
        <div class="modal-body" id="keys_modal_2" style="display: none;">
            <button class="btn text-left" id="backBtn"> < Back</button>

            <h2 class="hd2">Create new identity</h2>
            <p class="unique-id">Your unique id: 24df5455ffasdf58r256asd3f2f5asd6f5fa6sdf</p>

            <form action="{{ url_for('main.create_newid') }}" method="POST" enctype="multipart/form-data">
                <div class="file_div text-center">
                    <div class="image-upload">
                        <label for="file-input">
                            <i class="bi bi-person-plus-fill file_image"></i> <span>Upload Your Profile Picture</span>
                        </label>
                    
                        <input id="file-input" type="file" name="profile_pic" />
                    </div>

                    <input type="text" class="profile_name" name="username" placeholder="Enter your name">

                    <button class="createBtn" style="background-color: #dacb58; color: white;
                    margin-top: 20px; padding: 8px 18px; border: none; border-radius: 5px; font-weight: bold;">
                    Create</button>
                </div>
            </form>
		</div>

		
	  </div>
	</div>
  </div>

<style>

#modal-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.login-status{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.dropdown_links{
    width: 300px;
    height: auto;
    margin: auto;
}

.green-dot{
    width: 30px;
    height: 23px;
    background-color: green;
    border-radius: 50%;
    margin-right: 10px;
}

.p-section{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.p-text{
    float: left;
    margin: 5px 0px;
}
.copy{
    float: right;
    margin: 5px 0px;
}
.p-key{
    padding: 10px;
    border: 1px solid rgb(189, 185, 185);
    border-radius: 5px;
    overflow-wrap: break-word;
}

/* modal 2 */
#keys_modal_2{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.hd2{
   font-size: 25px;
   text-align: center;
   font-weight: bolder;

}

.unique-id{
    margin: 20px 0px;
    text-align: center;
    text-overflow: clip;
}

.profile_name{
    display: block;
    margin: auto;
    padding: 10px;
    width: 400px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid rgb(209, 206, 206);


}
.file_image{
    font-size: 2rem;
    border: 1px solid rgb(209, 206, 206);
    padding: 12px 15px 12px 20px;
    border-radius: 55%;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;

}

/* file upload css */
.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 80px;
    cursor: pointer;
}
.image-upload{
    cursor: crosshair;
    margin-top: 40px;
    margin-bottom: 35px;
}

</style>

<script type="text/javascript">

    let keys_1 = document.getElementById("keys_modal_1");
    let keys_2 = document.getElementById("keys_modal_2");
    let modal_header = document.getElementById("modal-header");

    let newIdButton = document.getElementById("newIdButton");
    let backBtn = document.getElementById("backBtn");

    newIdButton.addEventListener('click', showCreateKeys);
    backBtn.addEventListener('click', showKeysModal);

    // functions for showing create keys modal
    function showCreateKeys(){
        keys_1.style.display = 'none';
        modal_header.style.display = 'none';
        keys_2.style.display = 'block';
    };

    // function for removing create keys and showing keys modal
    function showKeysModal(){
        keys_1.style.display = 'block';
        modal_header.style.display = 'flex';
        keys_2.style.display = 'none';
    }


function changeProfile(id){
    console.log(id);

    const chId = new XMLHttpRequest();

    chId.open('post', '/change_profile', true);
    chId.setRequestHeader("Content-Type", "application/json");

    let data = {'id': id};

    chId.send(JSON.stringify(data))

    chId.onload = function(){
        if(this.responseText == "done"){
            window.location.href = '/';
        }
    };
};

</script>