
<!DOCTYPE html>
<html class=''>
<head>
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<script src="https://use.typekit.net/hoy3lrg.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">

<!-- script for making dialog box -->
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/blitzer/jquery-ui.css" type="text/css" />
<script src="{{ url_for('static', filename='js/new_layout/easy_confirm.js') }}"></script>
</head>
<body>


{% include "sections/_flash_alert_message.html" %}

<div id="frame">

    <div class="top-bar">
		<img src="{{ url_for('static', filename='images/Logo_gold.png') }}" alt="Beechat Logo"
		id="logo" onclick="window.location.href='/'">
		
				<div class="right-icons">
					{% if notifications %}
					
					<div class="notification_icon">
						<div class="btn-group">
							<button type="button" class="btn dropdown-toggle btn-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="bi bi-chat-quote-fill" style="color: white; margin-right: 10px; transform: scale(1.5, 1.5);"></i>
							</button>
							<div class="dropdown-menu drop_menu" >
								{% for notification in notifications %}
								<a class="dropdown-item" data-toggle="modal">
								{% if notification.user_notification.username %}
								<span onclick="connectUser({{notification.user_id}})" class="n_{{notification.user_id}}">{{notification.user_notification.username}}</span>
								{% else %}
									<span onclick="connectUser({{notification.user_id}})" class="n_{{notification.user_id}}">{{notification.user_notification.ip}}:{{notification.user_notification.port}}</span>
								{% endif %}
								
								</a>
							{% endfor %}
							</div>
						</div>
						</div>
					{% else %}
					<div class="notification_icon">
						<div class="btn-group">
							<button type="button" class="btn dropdown-toggle btn-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="bi bi-chat-fill" style="color: white; margin-right: 10px; transform: scale(1.5, 1.5);"></i>
							</button>
							<div class="dropdown-menu drop_menu">
							</div>
						</div>
						</div>
					{% endif %}
					
					
					<div class="setting_icon">
					<div class="btn-group">
						<button type="button" class="btn dropdown-toggle btn-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="bi bi-gear-fill" style="color: white; transform: scale(1.3, 1.3);"></i>
						</button>
						<div class="dropdown-menu">
							<!-- This ports link is opening a modal from ports_modal.html -->
						<a class="dropdown-item" data-toggle="modal" data-target="#exampleModal">Ports</a>
						<!-- This Keys link is opening a modal from keys_modal.html -->
						<a class="dropdown-item" data-toggle="modal" data-target="#keysModal">Keys</a>
						</div>
					</div>
					</div>

					<span class="my-account-name">{{ myid.username }}</span>
					<span class="d-none"><span id="myhost">{{myhost}}</span><span id="myport">{{myport}}</span></span>
					<img src="{{ url_for('static', filename='images/') }}{{myid.profile_pic}}" alt="profile pic"
					class="profile_pic">
				</div> 
	</div>

	{% include "modals/ports_modal.html" %}
	{% include "modals/keys_modal.html" %}
	{% include "modals/connect_modal.html" %}

	{% include "sections/sidepanel_clients.html"  %}

	{% include "sections/contents.html"  %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js" integrity="sha512-iZIBSs+gDyTH0ZhUem9eQ1t4DcEn2B9lHxfRMeGQhyNdSUz+rb+5A3ummX6DQTOIs1XK0gOteOg/LPtSo9VJ+w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- socket messages receving script. redirecting client and connection. -->
<script src="{{ url_for('static', filename='js/ajax/client.js') }}"></script>


<script>

	window.onload = function() {
            let reloading = sessionStorage.getItem("click_li");
			let client_id = sessionStorage.getItem("client_id");
            console.log("window load function is" + reloading);
            if (reloading) {
                sessionStorage.removeItem("click_li");
				sessionStorage.removeItem("client_id");
                
				loadMessages(client_id);
				console.log("client id from page reloading: " + client_id)
				
            }else{
                console.log("session not available")
				sessionStorage.clear();
            }
        }
	
</script>

</body>
</html>